body {
    background-color: #ffffff;
    font-family: Arial;
}

.container {
    margin-top: 30px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container-fluid {
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.card {
    background: #ffffff;
    border-radius: 10px;
}

.login-form {
    padding: 50px;
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

    .login-form > h4 {
        text-align: center;
        margin-bottom: 20px
    }

    .login-form > .btn-primary, .login-form > .form-group > .form-control {
        height: 50px;
    }

.form-check {
    margin-bottom: 16px
}

.login-icon {
    margin-bottom: 25px;
    text-align: center;
}

.projects-title {
    margin-bottom: 30px;
    margin-top: 30px
}

.projects-add-section {
    margin-bottom: 20px
}

.projects-card-link:hover {
    text-decoration: none !important
}

.projects-card {
    padding: 25px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: .5s;
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

    .projects-card:hover {
        transform: scale(1.03);
        transition: .5s;
    }

.projects-card-section {
    text-align: center;
}

    .projects-card-section > p {
        font-size: 20px;
        margin: unset;
        color: #25262b;
    }

.fa, .fas {
    margin-right: 5px;
}

.progress-section > ul > li {
    display: inline-block;
    margin: 0 15px;
}

.progress-section > ul {
    padding: unset;
    margin-top: 15px
}

.progress-count {
    font-size: 24px;
    font-weight: 600;
}

.project-title {
    margin-top: 10px
}

.share-section {
    margin-bottom: 30px;
    margin-top: 15px;
}

.grid-header {
    background: #f4f5f7;
}

/*Таблица*/
.table td {
    text-align: center
}

.table th {
    background: #f4f5f7
}

.table-hover tbody tr:hover {
    background-color: #f4f5f7 !important
}

.table a {
    text-decoration: none;
}

/*--------------------------*/

.Error {
    font-size: 14px;
    color: #cc0000;
    font-weight: 400;
}

.mail-form {
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    padding: 20px;
}

.users-section label {
    margin-left: 5px
}

li {
    list-style-type: none;
}

.section-title {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    margin-bottom: 10px;
    margin-top: 15px;
}

.details-title {
    color: #6b778c;
    font-size: 16px;
    font-weight: 400;
}

.details-value {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
}

.step-number {
    height: 25px;
    width: 25px;
    background-color: #28a745;
    border-radius: 50%;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    color: #ffff;
    font-weight: bold;
    font-size: 14px
}

.test-step {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 15px;
    padding-top: 15px;
}

.inactive-step {
    width: 100%;
    border: none;
    color: #495057;
    font-weight: 400;
    font-size: 1rem;
    padding: .375rem .75rem;
}


.btn-step {
    background: #ffff;
    border: none;
    color: #7e7e7e;
    transition: 0.5s;
}

    .btn-step:hover {
        color: #383838;
        transition: 0.3s;
    }

.btn-step-del:hover {
    transition: 0.3s;
    color: #df3b3b;
}

.btn-step-save {
    color: #28a745;
    transition: 0.3s;
}

    .btn-step-save:hover {
        transition: 0.3s;
        color: #218838
    }

.btn-step-cancel {
    color: #dc3545;
    transition: 0.3s;
}

    .btn-step-cancel:hover {
        transition: 0.3s;
        color: #c82333
    }

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #00b4db, #0083b0)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #51575d
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

.btn-back {
    border: none;
    background: #fff;
    color: #6b778c;
    transition: 0.3s;
}
    .btn-back:hover {
        transition: 0.3s;
        color: #383838
    }